.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border-radius: 50px; /* Bordas arredondadas semelhantes aos inputs */
  padding: 16px;
  height: 70px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4); /* Sombra semelhante aos inputs */
  transition: 0.3s;
  position: relative;
  color: #fff;
  margin: 1em auto;
  max-width: 400px;
}

.task:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4); /* Efeito de foco similar */
}

.details h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #a47cf3;
}

.details p {
  margin: 4px 0 0;
  color: #bbb;
  font-size: 14px;
}

.actions {
  display: flex;
  gap: 12px;
}

.actions i {
  font-size: 20px;
  color: #888;
  cursor: pointer;
  transition: color 0.3s ease;
}

.actions i:hover {
  color: #a47cf3;
}

.no-tasks {
  text-align: center;
  color: #aaa;
  font-size: 16px;
}
